---
name: "Test Blog Links"

on:
  workflow_dispatch:
  schedule:
    ## Every 6 hours
    - cron: "0 */6 * * *"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Test live site links
        uses: lycheeverse/lychee-action@v1
        with:
          args: >-
            public/**/*.html 
            --base-url https://techobyte.cc/
            --exclude-path localhost
            --exclude-all-private
          fail: true
